

.first_box_login{
  background-color: #ef534e;
  justify-content: center;
  align-content: center;
  display: grid;
  padding: 30px;
  color: white;
}

.first_box_login > div > div{
  padding-bottom: 10px;
}

.second_Box_login {
 padding: 15px;
 /* width: 40%; */
}

