html,body{
  padding: 0;
  margin: 0;
}
 .logobox:hover{
  cursor: pointer;
 }

 

.mobilenav{
    width: 100vw;
    position: fixed;
    /* top: 0; */
    z-index: 1000;
    
    padding-left: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
 

  position: fixed;
  top: 0;
   margin-bottom: 20px;
   background-color: white;
}
 .flex{
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 5px;
   
 }
 .rightsidebox{
   
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .searchbtn{
    margin-left: 5px;
    background-color: #ef534e;
    color: white;
    padding: 6px 18px;
 }

 .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
   
 }
  .locationbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }
   .checkbox>.locationbox p{
   font-size: 10px;
 }


 .drawer{
  visibility: hidden;
  opacity: 0;
  display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 10px;
 padding: 10px 10px;
 width: 100%;
}
.drawer-logo img{
 height: 50px;
  width: auto;
}
 #drawer-flex{
  display: flex;
 margin-right: 0;
  
 
 }

 @media only screen and (max-width:1200px){
  .drawer{
    visibility: visible;
    z-index: 100;
    opacity: 1;
    margin-bottom: 5px;
    padding: 2px 5px 2px 3px;
    position: fixed;
    top: 0;
    background-color: white;
  }
  .mobilenav{
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  
}
 
 }

 @media all and (min-width:350px) and (max-width: 500px){
 
  .drawer-logo img{
      height: 50px;
       width: auto;
     }
     .drawer{
      visibility: visible;
      z-index: 100;
      opacity: 1;
      margin-bottom: 5px;
      padding: 2px 5px 2px 3px;
      position: fixed;
      top: 0;
      background-color: white;
    }
    .mobilenav{
    visibility: hidden;  
    opacity: 0;
    z-index: 1000;
  }
  .locationbox{
    display: none;
  }

}

